*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

h1{
    color: #0022BB;
    font-size: 1.5em;
}

main{
    display: grid;
    height: calc(100vh - 200px);
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 100px 100px calc(100vh - 300px);
    place-items: center;
}

.Admin__Start{
    grid-column: 2/3;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    
    width: 100%;
}

.Estadisticas__Btn{
    width: 20em;
    height: 3.5em;
    background-color: #325DB8;

    display: grid;
    place-self: center;
    place-items: center;
}

.Admin__Start__Right__Btn{
    text-decoration: none;
    color: white;
}

.Admin__Start__Left{
    grid-column: 1/2;
    justify-self: start;
}



.Winners__Explorer{
    grid-row: 2/3;
    grid-column: 2/3;

    width: 100%;
    height: 80%;
    align-self: center;
    background-color: #ECECEC;

    display: grid;
    place-items: center;
}

.Text__Search{
    width: 300px;
    height: 25px;
}

.Search__Btn{
    width: 100px;
    height: 25px;
    background-color: #325DB8;
    color: white;
    border: none;
}

.Projects__Explorer table, .Users__Explorer table, .Winners__Explorer table{
    width: 80%;
    
}

.Winners__View{
    grid-column: 2/3;
    grid-row: 3/4;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 70% 20%;

}

.Admin__Submit__Btn{
    grid-column: 1/7;
    grid-row: 3/4;
    place-self: center;

    width: 20em;
    height: 3.5em;
    
    border: none;
    color: white;
    background-color: #325DB8;

    font-weight: 600;
}


.Winners__View__Header{
    width: 100%;
    height: 100%;
    grid-row: 1/2;

    font-weight: 600;

    place-self: center;
    background-color: #ECECEC;

    display: grid;
    grid-template-columns: 5% 5% 20% 20% 20% 30%;
    place-items: center;
}

.Winners__View__Table{

    grid-row: 2/3;

    width: 100%;
    height: 100%;

    overflow: auto;
    place-self: center;
    background-color: #ECECEC;

    display: grid;
    grid-template-columns: 5% 5% 20% 20% 20% 30%;
    grid-template-rows: repeat(9,10%) 10%;
    justify-items: center;
}

.Winners__View__Table p{
    align-self: center;
    padding-bottom: 20px;
    height: 10%;
}


.Winners__View::-webkit-scrollbar{
    width: 10px;
    height: 10px;
  }
  
.Winners__View::-webkit-scrollbar-thumb{
    background-color: #aaa;
    border-radius: 5px;
}

.Winners__View table{
    width: 100%;
    text-align: center;
}


/*CRUD STYLES*/

a{
    text-decoration: none;
    color: white;
}

.Btn__Red{
    border-radius: 5px;
    background-color: red;
    width: 80%;
    height: 80%;

    display: grid;
    place-items: center;

    font-size: small;
}

.Btn__Blue{
    border-radius: 5px;
    background-color: #325DB8;
    width: 80%;
    height: 80%;

    display: grid;
    place-items: center;

    font-size: small;
}

.Btn__Green{
    
    border-radius: 5px;
    background-color: green;
    width: 100%;
    height: 80%;

    display: grid;
    place-items: center;

    font-size: small;
}

.Info{
    grid-column: 2/3;
    grid-row: 3/4;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 70% 20%;
    

}

.Info__Header{
    width: 100%;
    height: 100%;
    grid-row: 1/2;

    font-weight: 600;

    place-self: center;
    background-color: #ECECEC;

    display: grid;
    grid-template-columns: 3% 3% 10% 10% 10% 20% 40% ;
    place-items: center;
}

.Info__Table{

    grid-row: 2/3;

    width: 100%;
    height: 100%;

    overflow: auto;
    place-self: center;
    background-color: #ECECEC;

    display: grid;
    grid-template-columns: 3% 3% 10% 10% 10% 20% 10% 10% 10% 10% ;
    grid-template-rows: repeat(10,10%);
    justify-items: center;
    align-items: center;
}

.Info__Table p{
    align-self: center;
    padding-bottom: 20px;
    height: 10%;
}

.Info::-webkit-scrollbar{
    width: 10px;
    height: 10px;
  }
  
.Info::-webkit-scrollbar-thumb{
    background-color: #aaa;
    border-radius: 5px;
}

.Info__Read{
    grid-row: 2/3;

    width: 100%;
    height: 100%;

    overflow: auto;
    place-self: center;
    background-color: #ECECEC;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 30% 10% 20% 20%;
    grid-auto-flow: column;
    justify-items: start;
    align-items: center;

}

.InfoRead__Atributes{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: start;
    align-items: center;
}

.Info__Update{
    grid-row: 2/3;

    width: 100%;
    height: 100%;

    overflow: auto;
    place-self: center;
    background-color: #ECECEC;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 30% 10% 20% 20%;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
}

.InfoUpdate__Atributes{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
}

.Danger__Alert{
    background-color: #f2dede;
    color: #b94a48;
    border: #eed3d7 solid 2px;
    text-align: center;

    width: 100%;
    height: 100%;
    grid-column: 1/3;
}