*{
    font-family: 'Inter', sans-serif;
}

.rubric-elements {
    margin: 1.5rem 0 1.5rem 0;
}

.rubric-elements table, th, td {
    border-collapse: collapse;
}

.rubric-elements th, td {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 70px;
}

input.box_input, select.box_input {
    width: 41rem;
    height: 1.8rem;
}

textarea.box_input {
    width: 41rem;
    height: 6rem;
}

.container {
    --bs-gutter-x: 10rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;

}

.top-page h1 {
    color: #0022BB;
    font-size: 1.5em;
}

.top-page dd {
    margin-inline-start: 40px;
}

.top-page dl {
    line-height: 1.6;
}

fieldset.rubric-container, fieldset.project-container {
    background-color: #ECECEC;
}

.rubric-container, .project-container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0 1.5rem 1.5rem 1.5rem;
}

div.announce {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0 1.5rem 1.5rem 1.5rem;
    text-align: center;
}

.submit-btn {
    background-color: #325DB8;
    border: none;
    color: white;
    width: 20em;
    height: 3.5em;
    font-weight: 600;
    display: block;
    margin: 0 auto;
}

.btn {
    border-radius: 0.25rem;
    border: 1px solid transparent;
    padding: 0.250rem 0.50rem;
    cursor: pointer;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}