.Btn-Ancla {
	display: inline-block;
	border: none;
	background-color: #0033a0;
	color: white;
	line-height: 275%;
	width: 100%;
	text-decoration: none;
	text-align: center;
	font-size: smaller;
}

.Btn-Ancla a {
	color: white;
	text-decoration: none;
}

.Size {
	display: grid;
	height: calc(100vh - 200px);
	grid-template-columns: 5% 90% 5%;
	grid-template-rows: 120px 100px calc(100vh - 320px);
	place-items: center;
}

.Size-1 {
	display: grid;
	justify-content: center;
	margin: 50px;
	align-items: center;
}

.Second__Form {
	grid-row: 2/3;
	grid-column: 1/5;
	width: 90%;
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 3fr 3fr;
	place-items: center;
}

.teachers_div,
.students_div {
	width: 90%;
}

.teachers_div_menu_eachone,
.students_div_menu_eachone {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
	border: solid #0033a0 2px;
	margin: 5px;
	padding: 5px;
}
