* {
	font-family: "Inter", sans-serif;
}

main {
	display: grid;
	height: calc(100vh - 200px);
	grid-template-columns: 30% 40% 30%;
	grid-template-rows: 1fr 1fr 1fr;

	place-items: center;
}

main h1 {
	grid-column: 2/3;

	font-size: 1em;
	text-align: center;
}

main form {
	align-self: normal;
	grid-column: 2/3;
	grid-row: 2/3;
}

main form table {
	border-spacing: 25px;
}

.Text__Input {
	background-color: #d9d9d9;
	border: none;
	height: 1.5em;
}

.Btn__Iniciar__Sesion,
.Btn__Registrar,
.Btn__Admin__Options {
	border: none;
	background-color: #0033a0;
	color: white;
	height: 40px;
	width: 150px;
}

.Td__Iniciar__Sesion,
.Td__Registrar {
	text-align: center;
}

main h2 {
	grid-column: 2/3;
	grid-row: 3/4;

	font-size: 1em;
	text-align: center;
}

main h2 a {
	color: #0033a0;
	text-decoration: none;
}

.Admin_Options {
	place-self: center;
	grid-column: 2/3;
	grid-row: 2/3;

	border-spacing: 25px;
}

.Admin_Options td {
	text-align: center;
}

.Btn__Ancla {
	display: inline-block;
	border: none;
	background-color: #0033a0;
	color: white;
	line-height: 275%;
	width: 150%;
	text-decoration: none;
}

.Card-1 {
	align-self: normal;
	grid-column: 2/3;
	grid-row: 2/3;
	display: grid;
	place-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 20% 80%;
	width: 500px;
	height: 500px;

	background-color: #ececec;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.Btns {
	width: 100%;
	color: white;
	background-color: #06519d;
	grid-row: 1/2;
	border-radius: 10px 0;
	height: 100%;
	display: grid;
	place-items: center;
	text-decoration: none;
	font-weight: 400;
	font-size: medium;
}

.Btns:hover {
	background-color: #0033a0;
}

.Btn-1 {
	border-radius: 10px 0 0 10px;
}

.Btn-2 {
	border-radius: 0 10px 10px 0;
}

.Form__Card {
	grid-column: 1/3;
	grid-row: 2/3;
	height: 350px;
	display: grid;
	place-items: center;
}

.Form__Card-1 {
	grid-column: 1/3;
	grid-row: 2/3;
	height: 100%;
	display: grid;
	place-items: center;
}
