@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header{
    background-color: #0033A0;
    height: 100px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;

    place-items: center;

}

.Logo__EscNegCie{
    grid-column: 1/2;
    width: 350px;
    justify-self: center;
}

.Logo__Expo{
    grid-column: 1/2;
    width: 200px;
    justify-self: center;
}

header ul{
    grid-column: 2/3;
    justify-self: start;
    list-style: none;
}

header ul li{
    display: inline;
    padding: 0 0 0 20px;
}



header ul li a, .Otros {
    color: white;
    background-image: linear-gradient(
      to right,
      #00B1FF,
      #00B1FF 50%,
      white 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
  }
  
  header ul li a:before {
    content: '';
    background: #00B1FF;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  header ul li a:hover {
   background-position: 0;
  }
  
  header ul li a:hover::before {
    width:100%;
  }


footer{
    
    height: 100px;
    width: 100%;
    background-color: black;
    display: grid;
    place-items: center;
}

footer .Logo__Tec{
    height: 100px;
}