@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{

    margin: 0 0 20px 0;

    width: 100%;
    height: 700px;

    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr 1fr 4fr ;
    place-items: center;
}

h1{
    font-weight: 600;
    font-size: 2em;
    font-family: 'Inter', sans-serif;
    color: black;
}

.First{
    color: #0033A0;
}

.Second{
    color: #5B5757;
}

.Layout{
    width: fit-content;
    height: fit-content;
}

/*Extra Styles to Submit Files*/

.btn-submit {
	background-color: #4caf50; /* Color de fondo */
	color: white; /* Color de texto */
	padding: 12px 24px; /* Tamaño de padding */
	font-size: 16px; /* Tamaño de fuente */
	border: none; /* Borde */
	cursor: pointer; /* Cursor */
	border-radius: 4px; /* Bordes redondeados */
	width: 100%;
	align-self: start;
}

.btn-submit:hover {
	background-color: #3e8e41; /* Cambio de color de fondo al pasar el mouse */
}

.modal-video,
.modal-poster,
.modal-estudiante,
.modal-docente {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.close-btn {
	margin-top: 10px;
}
