@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

select{
    width: 85px;
    height: 20px;
}

header{
    background-color: black;
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
}

.Logo__EscNegCie{
    grid-column: 1/2;
    width: 350px;
}

.Logo__Expo{
    grid-column: 2/3;
    width: 350px;
}

.Presentacion__Main{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
    place-items: center;

    background-image: url("../media/HomePageImage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(85vh - 280px);
}

.Objetivo__Main{

    width: 100%;
    height: calc(100vh - 200px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 90%;
    grid-auto-flow: row;
    place-items: center;
    padding: 20px;

}

.Something{
    grid-row: 1/2;
    grid-column: 1/3;
    place-self: center;
    text-align: center;

    display: grid;
    place-items: center;

    font-size: 2em;
    color: #02B1FE;
    font-weight: 600;
}

.Explanation{
    width: 90%;
    height: 80%;
    grid-column: 1/2;
    grid-row: 2/3;
    
    display: grid;
    place-items: center;
    grid-template-rows: 15% 60% 25%;
}

.Explanation a{
    grid-row: 3/4;
    align-self: start;
    padding: 20px;
    background-color: #02B1FE;
    border: black solid 2px;
    color: white;
}

.Explanation p{
    align-self: start;
    width: 85%;
    font-size: 1.5em;
}

.Video__Explanation{
    width: 100%;
    height: 100%;
    grid-row: 2/3;
    grid-column: 2/3;

    display: grid;
    place-items: center;
}

.Objetivo__Main div{
    width: 100%;
    height: 100%;
}


main h2{

    padding: 15px 0 0 50px ;

    font-size: 4em;
    color: white;
    font-weight: 600;
    font-family: 'Inter', sans-serif;

    align-self: center;
    justify-self: start;
}


.Btns{
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;

}

.User-1{
    grid-column: 1/2;
    justify-self: start;
    color: white;
    text-align: center;
    display: grid;
    place-items: center;
}

.User-2{
    grid-column: 2/3;
    justify-self: end;
    color: white;
    text-align: center ;
    display: grid;
    place-items: center;
}

.Usuarios, .Proyectos{
    border: solid black 3px;
    background-color: white;
    background-color: #EA047E;
    width: 13em;
    height: 4em;

    align-self: center;
    display: grid;
}




.Usuarios{
    /* grid-column: 1/2;
    grid-row: 2/3; */
    background-color: #FF6D28;
    justify-self: start;
    margin: 0 0 0 40px;
}

a{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: black;

    text-decoration: none;  

    place-self: center;
}

footer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;

    color: white;
    font-size: 0.6em;
    font-family: 'Inter', sans-serif;

    background-color: black;
    height: 80px;
}

body::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar-thumb{
    background-color: #aaa;
    border-radius: 5px;
}